@using SSIS_FRONT.Utils; 

@{
    ViewData["Title"] = "Delegate Authority";
    List<Employee> employees = (List<Employee>)ViewData["employees"];
    List<Employee> delegates = (List<Employee>)ViewData["delegates"];
}

<div class="container">
    <h2 class="titlecenter">Assigned Delegates</h2>
    <table class="table table-striped" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="delegates">
            @if (delegates.Count == 0)
            {
                <tr class="hide">
                    <td colspan="4">There is no assigned delegate for this department.</td>
                </tr>
            }
            else
            {
                @foreach (var d in delegates)
                {
                    <tr>
                        <input class="empid" type="hidden" value="@d.Id" />
                        <td>@d.Name</td>
                        <td>@TimeUtil.convertTimestampToyyyyMMdd(d.DelegateFromDate)</td>
                        <td>@TimeUtil.convertTimestampToyyyyMMdd(d.DelegateToDate)</td>
                        <td>
                            <button class="edit btn btn-primary">Edit</button><button class="delete btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 20px;">
    <h2 class="titlecenter">Employee List</h2>
    <form id="employee">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Employee Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in employees)
                {
                    <tr>
                        <td>
                            <input name="emp" type="radio" value="@e.Id" />
                            <label>@e.Name</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

<div class="row justify-content-center" style="margin-top: 20px;">
    <div class="col-0">
        <label class="form-control font-weight-bold" style="border: 0;">Start Date:</label>
    </div>
    <div class="col-0">
        <input id="fromdate" type="date" class="form-control"/>
    </div>
    <div class="col-0">
        <label class="form-control font-weight-bold" style="border: 0;">End Date:</label>
    </div>
    <div class="col-0">
        <input id="todate" type="date" class="form-control"/>
    </div>
    <div class="col-0">
        &nbsp;&nbsp;<button id="assign" class="btn btn-success font-weight-bold">Assign as Delegate</button>
    </div>
</div>

@*<div>
    <span>Start Date: </span>
    <input id="fromdate" type="date" />
    <span>End Date: </span>
    <input id="todate" type="date" />
</div>

<div>
    <button id="assign" class="btn btn-success">Assign as Delegate</button>
</div>*@

<script src="~/js/Delegate.js"></script>