@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Disbursement List";
    List<RequisitionDetail> disbursement = (List<RequisitionDetail>)ViewData["disbursement"];
    string name = (string)ViewData["Name"];
}

<h2 class="titlecenter">@ViewData["Title"]</h2>
<div class="container" style="margin-top: 20px;">
    <table>
        <tr>
            <td>Disbursement Date: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(disbursement[0].Requisition.CollectionDate)</td>
            <td><input value="@disbursement[0].RequisitionId" type="hidden" /></td>
        </tr>
    </table>
</div>

@*<div>
    <span>Disbursement Date: </span>
    <span>@TimeUtil.convertTimestampToyyyyMMdd(disbursement[0].Requisition.CollectionDate)</span>
    <input value="@disbursement[0].RequisitionId" type="hidden" />
</div>*@

<div class="container" style="margin-top: 20px;">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Description</th>
                <th>Qty Requisited</th>
                <th>Qty Disbursed</th>
                <th>Remarks</th>
                <th>Qty Received</th>
                <th>Dept Remarks</th>
                <th>Clerk Remarks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in disbursement)
            {
                <tr>
                    <input class="detailid" data-rid="@d.RequisitionId" type="hidden" value="@d.Id" />
                    <td>@d.Product.Description</td>
                    <td>@d.QtyNeeded</td>
                    <td>@d.QtyDisbursed</td>
                    <td>@d.DisburseRemark</td>
                    @if (disbursement[0].Requisition.Status == CommonConstant.RequsitionStatus.confirmed)
                    {
                        <td><input class="replace" type="number" value="@d.QtyDisbursed" /></td>
                        <td><input class="replace" type="text" /></td>
                    }
                    else
                    {
                        <td>@d.QtyReceived</td>
                        <td>@d.RepRemark</td>
                    }
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="container" style="margin-top: 20px;">
    <div class="row justify-content-center">
        @if (disbursement[0].Requisition.Status == CommonConstant.RequsitionStatus.confirmed)
        {
            <div class="col-3">
                <button id="acknowledge" type="button" class="btn btn-primary font-weight-bold">Acknowledge Item Received</button>
            </div>
        }

    </div>
</div>

<div class="container" style="margin-top: 30px;">
    <div class="row justify-content-center">
        <div class="col-2">
            <label class="form-control" style="border: 0;">Received by (Rep):</label>
        </div>
        @if (disbursement[0].Requisition.Status == CommonConstant.RequsitionStatus.confirmed)
        {
            <div class="col-2">
                <label id="receivedby" class="form-control" style="border: 0;"></label>
            </div>
            <div class="col-1">
                <label class="form-control" style="border: 0;">Date: </label>
                <input id="empname" value="@name" type="hidden" />
            </div>
            <div class="col-2">
                <label id="receiveddate" class="form-control" style="border: 0;"></label>
            </div>

        }
        else
        {
            <div class="col-2">
                <label class="form-control" style="border: 0;">@disbursement[0].Requisition.ReceivedByRep.Name</label>
            </div>
            <div class="col-1">
                <label class="form-control" style="border: 0;">Date: </label>
            </div>
            <div class="col-2">
                <label class="form-control" style="border: 0;">@TimeUtil.convertTimestampToyyyyMMdd(disbursement[0].Requisition.ReceivedDate)</label>
            </div>
        }

    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <label class="form-control" style="border: 0;">Acknowledged by (Clerk):</label>
        </div>
        @if (disbursement[0].Requisition.Status == CommonConstant.RequsitionStatus.completed)
        {
            <div class="col-2">
                <label id="clerk" class="form-control" style="border: 0;">@disbursement[0].Requisition.AckByClerk.Name</label>
            </div>
            <div class="col-1">
                <label class="form-control" style="border: 0;">Date: </label>
            </div>
            <div class="col-2">
                <label id="date" class="form-control" style="border: 0;">@TimeUtil.convertTimestampToyyyyMMdd(disbursement[0].Requisition.AckDate)</label>
            </div>
        }
        else
        {
            <div class="col-2">
                <label class="form-control" style="border: 0;"></label>
            </div>
            <div class="col-1">
                <label class="form-control" style="border: 0;">Date: </label>
            </div>
            <div class="col-2">
                <label class="form-control" style="border: 0;"></label>
            </div>

        }

    </div>
</div>

@*<table>
    <tr>
        <td>Received by</td>
        @if (disbursement[0].Requisition.Status == CommonConstant.RequsitionStatus.confirmed)
        {
            <td id="receivedby"></td>
            <input id="empname" value="@name" type="hidden" />
            <td id="receiveddate"></td>
        }
        else
        {
            <td>@disbursement[0].Requisition.ReceivedByRep.Name</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(disbursement[0].Requisition.ReceivedDate)</td>
        }
    </tr>
    <tr>
        <td>Acknowledged by (Clerk)</td>
        @if (disbursement[0].Requisition.Status == CommonConstant.RequsitionStatus.completed)
        {
            <td>@disbursement[0].Requisition.AckByClerk.Name</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(disbursement[0].Requisition.AckDate)</td>
        }
        else
        {
            <td></td>
            <td></td>
        }
    </tr>
</table>*@


<script src="~/js/DeptDisbursement.js"></script>
