@{
    ViewData["Title"] = "Requisition Form";
    List<Product> products = (List<Product>)ViewData["products"];
    Requisition requisition = (Requisition)ViewData["requisitions"];
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <td>Form ID:</td>
        <td id="formid">@requisition.Id</td>
    </tr>
    <tr>
        <td>Request Date:</td>
        <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(requisition.CreatedDate)</td>
    </tr>
</table>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody id="requestlist">
    </tbody>
</table>

<div>
    <label>Item</label>
    <select id="product">
        <option value="0">Choose Item</option>
        @foreach (var p in products)
        {
            <option data-desc="@p.Description" value="@(@p.Id)">[@p.Id] @p.Description</option>
        }
    </select>
    <label>Qty</label>
    <input id="qty" type="number" min="0" />
    <button id="add">Add</button>
</div>

<div>
    <button id="save" class="btn btn-primary">Save Draft</button>
    <button id="submit" class="btn btn-success">Submit</button>
</div>

<script src="~/js/ReqStationery.js"></script>