@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Requisition Form";
    List<Product> products = (List<Product>)ViewData["products"];
    Requisition requisition = (Requisition)ViewData["requisition"];
    string role = (string)ViewData["Role"];
    int id = (int)ViewData["Id"];
}
<h2 class="titlecenter">@ViewData["Title"]</h2>

<div class="container" style="margin-top: 20px;">
    <table id="form">
        <tr>
            <td>Form ID: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td id="formid">@requisition.Id</td>
        </tr>
        <tr>
            <td>Employee Name: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@requisition.ReqByEmp.Name</td>
        </tr>
        <tr>
            <td>Requested Date: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(requisition.CreatedDate)</td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td id="status">@requisition.Status</td>
        </tr>
        @if (requisition.Status == CommonConstant.RequsitionStatus.approved || requisition.Status == CommonConstant.RequsitionStatus.rejected)
        {
            <tr>
                <td>Reason: </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>@requisition.Remarks</td>
            </tr>
        }
        @if (role == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_REPRESENTATIVE])
        {
            <tr>
                <td>Collection Point: </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>@requisition.CollectionPoint.Location (@requisition.CollectionPoint.CollectionTime)</td>
            </tr>
        }
        @if (requisition.Status == CommonConstant.RequsitionStatus.confirmed || @requisition.Status == CommonConstant.RequsitionStatus.completed)
        {
            <tr>
                <td>Disbursement Date: </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>@TimeUtil.convertTimestampToyyyyMMdd(requisition.CollectionDate)</td>
            </tr>
        }
    </table>
</div>

<div class="container" style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit of Measurement</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="requestlist">
            @foreach (var r in requisition.RequisitionDetails)
            {
                <tr>
                    <input class="productid" type="hidden" value="@r.ProductId" />
                    <td>@r.Product.Description</td>
                    @if (requisition.Status == CommonConstant.RequsitionStatus.created && requisition.ReqByEmpId == id)
                    {
                        <td><input type="number" min="1" max="99" value="@r.QtyNeeded" class="form-control" /></td>
                        <td>@r.Product.Uom</td>
                        <td><input type="button" class="btn btn-danger" value="Remove" /></td>
                    }
                    else
                    {
                        <td class="qtyneeded">@r.QtyNeeded</td>
                        <td>@r.Product.Uom</td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 20px;">
    @if (requisition.Status == CommonConstant.RequsitionStatus.created && requisition.ReqByEmpId == id)
    {

        <div class="row justify-content-center">
            <div class="col-1">
                <label class="form-control font-weight-bold" style="border: 0;">Item: </label>
            </div>
            <div class="col-4">
                <select id="product" class="form-control">
                    <option value="0">Choose Item</option>
                    @foreach (var p in products)
                    {
                        <option data-desc="@p.Description" value="@(@p.Id)">[@p.Id] @p.Description</option>
                    }
                </select>
            </div>
            <div class="col-1">
                <label class="form-control font-weight-bold" style="border: 0;">Qty: </label>
            </div>
            <div class="col-1">
                <input id="qty" class="form-control" type="number" min="1" max="99" />
            </div>
            <div class="col-2">
                <span id="uom" class="form-control border-0 font-weight-bold"></span>
            </div>
            <div class="col-1">
                <button id="add" class="form-control btn btn-primary font-weight-bold">Add</button>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top:20px">
            <div class="col-2">
                <button id="save" class="btn btn-primary font-weight-bold form-control">Save Draft</button>
            </div>
            <div class="col-2">
                <button id="submit" class="btn btn-success font-weight-bold form-control" disabled>Submit</button>
            </div>
        </div>


        <script src="~/js/RequestStationery.js"></script>
    }
</div>

<div class="container" style="margin-top: 20px;">
    @if ((role == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_HEAD] || role == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_DELEGATE]) && requisition.Status == CommonConstant.RequsitionStatus.pendapprov && requisition.ReqByEmpId != id)
    {
        <div id="updaterequisition">
            <div class="row justify-content-center">
                <div class="col-12">
                    <textarea id="remarks" rows="3" placeholder="Reason" class="form-control"></textarea>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px">
                <div class="col-1">
                    <button id="reject" class="btn btn-danger font-weight-bold">Reject</button>
                </div>
                <div class="col-1">
                    <button id="approve" class="btn btn-success font-weight-bold">Approve</button>
                </div>
            </div>
        </div>
    }
</div>

@if (role != CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_HEAD] && role != CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_DELEGATE] && (requisition.Status == CommonConstant.RequsitionStatus.received || requisition.Status == CommonConstant.RequsitionStatus.completed))
{
    <div class="container" style="margin-top: 20px;">
        <button id="repeat" class="btn btn-primary font-weight-bold">Request Again</button>
    </div>
}

<script src="~/js/DeptRequisition.js"></script>
