@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Requisition Form";
    List<Product> products = (List<Product>)ViewData["products"];
    Requisition requisition = (Requisition)ViewData["requisition"];
    string role = (string)ViewData["Role"];
    int id = (int)ViewData["Id"];
}
<h1>@ViewData["Title"]</h1>

<div>
    <table id="form">
        <tr>
            <td>Form ID</td>
            <td id="formid">@requisition.Id</td>
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>@requisition.ReqByEmp.Name</td>
        </tr>
        <tr>
            <td>Requested Date</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(requisition.CreatedDate)</td>
        </tr>
        <tr>
            <td>Status</td>
            <td id="status">@requisition.Status</td>
        </tr>
        @if (requisition.Status == CommonConstant.RequsitionStatus.rejected)
        {
            <tr>
                <td>Rejected Reason</td>
                <td>@requisition.Remarks</td>
            </tr>
        }
        @if (requisition.Status == CommonConstant.RequsitionStatus.confirmed || @requisition.Status == CommonConstant.RequsitionStatus.completed)
        {
            <tr>
                <td>Collection Point</td>
                <td>@requisition.CollectionPoint.Location (@requisition.CollectionPoint.CollectionTime)</td>
            </tr>
            <tr>
                <td>Disbursement Date</td>
                <td>@TimeUtil.convertTimestampToyyyyMMdd(requisition.CollectionDate)</td>
            </tr>
        }
    </table>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="requestlist">
        @foreach (var r in requisition.RequisitionDetails)
        {
            <tr>
                <input class="productid" type="hidden" value="@r.ProductId" />
                <td>@r.Product.Description</td>
                @if (requisition.Status == CommonConstant.RequsitionStatus.created && requisition.ReqByEmpId == id)
                {
                    <td><input type="number" min="0" value="@r.QtyNeeded" /></td>
                    <td><input type="button" value="Remove" /></td>
                }
                else
                {
                    <td>@r.QtyNeeded</td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>

@if (requisition.Status == CommonConstant.RequsitionStatus.created && requisition.ReqByEmpId == id)
{
    <div>
        <label>Item</label>
        <select id="product">
            <option value="0">Choose Item</option>
            @foreach (var p in products)
            {
                <option data-desc="@p.Description" value="@(@p.Id)">[@p.Id] @p.Description</option>
            }
        </select>
        <label>Qty</label>
        <input id="qty" type="number" min="0" />
        <button id="add">Add</button>
    </div>

    <div>
        <button id="save" class="btn btn-primary">Save Draft</button>
        <button id="submit" class="btn btn-success" disabled>Submit</button>
    </div>

    <script src="~/js/RequestStationery.js"></script>
}

@if (role == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_HEAD] && requisition.Status == CommonConstant.RequsitionStatus.pendapprov)
{
    <div id="updaterequisition">
        <textarea id="remarks" rows="3" placeholder="Reason"></textarea>
        <button id="reject" class="btn btn-danger">Reject</button>
        <button id="approve" class="btn btn-success">Approve</button>
    </div>

    <script src="~/js/DeptRequisition.js"></script>
}