@{
    ViewData["Title"] = "Requisition Forms";
    string role = (string)ViewData["Role"];
    List<Requisition> requisitions = (List<Requisition>)ViewData["requisitions"];
}

<div class="input-group">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="Type here" />
</div>

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Form ID</th>
            <th>Requested Date</th>
            <th>Requested By</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in requisitions)
        {
            <tr class="search">
                <td>@r.Id</td>
                <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(r.CreatedDate)</td>
                <td>@r.ReqByEmp.Name</td>
                <td>@r.Status</td>
                <td><a class="btn btn-primary" asp-controller="Department" asp-action="Requisition" asp-route-id="@r.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Search.js"></script>