
@{
    ViewData["Title"] = "updateCollectionPoint";
    List<CollectionPoint> collectionPoints = (List<CollectionPoint>)ViewData["collectionpoints"];
    Department department = (Department)ViewData["departments"];
}

@*<input type="hidden" id="cpId" value="@department.CollectionPoint.Id" />*@

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="department" class="sr-only text-right">Department</label>
        <input type="text" readonly class="form-control-plaintext" id="department" value="Department:">

    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="department2" class="sr-only">Department 2</label>
        @*<input type="text" readonly class="form-control-plaintext" id="collectionPoint2" value="@collectionPoints[0].Location">*@
        <p>@department.Name</p>
    </div>
</div>

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="collectionPoint" class="sr-only text-right">Current Collection Point</label>
        <input type="text" readonly class="form-control-plaintext" id="collectionPoint" value="Current Collection Point:">

    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="collectionPoint2" class="sr-only">Collection Point 2</label>
        @*<input type="text" readonly class="form-control-plaintext" id="collectionPoint2" value="@collectionPoints[0].Location">*@
        <p id="location">@department.CollectionPoint.Location</p>
    </div>
</div>

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="collectiontime" class="sr-only text-right">Current Collection Time</label>
        <input type="text" readonly class="form-control-plaintext" id="collectionPoint" value="Current Collection Time:">

    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="collectiontime2" class="sr-only">Collection Time 2</label>
        @*<input type="text" readonly class="form-control-plaintext" id="collectionPoint2" value="@collectionPoints[0].Location">*@
        <p id="time">@department.CollectionPoint.CollectionTime</p>
    </div>
</div>


<div>
    <div class="form-group">
        <label for="chooseItem" class="sr-only">Select Collection Point</label>


        <form id="select">
            @foreach (var collectionPoint in collectionPoints)
            {
                <input type="radio" name="cp" value="@(collectionPoint.Location+"/"+collectionPoint.CollectionTime+"/"+collectionPoint.Id)">
                <label for="colpoint">@collectionPoint.Location @collectionPoint.CollectionTime</label>
                <br />
            }
        </form>


    </div>

</div>
<button type="button" class="btn btn-primary mb-2" id="savecp">Change</button>


<script src="~/js/SaveCP.js"></script>