
@{
    ViewData["Title"] = "viewDisbAftAck";
    List<RequisitionDetail> requisitionDetails = (List<RequisitionDetail>)ViewData["requisitionDetail"];
    List<Requisition> requisitions = (List<Requisition>)ViewData["requisition"];
}

<h1>Disbursement List</h1>


    <div class="form-inline">
        <div class="form-group mb-2">
            <label for="disbursementDate" class="sr-only text-right">Disbursement Date</label>
            <input type="text" readonly class="form-control-plaintext" id="disbursementDate" value="Disbursement Date:">

        </div>

        <div class="form-group mb-2">
            <label for="disbursementDate2" class="sr-only text-right">Disbursement Date 2</label>
            <input type="text" readonly class="form-control-plaintext" id="disbursementDate2" value=" ">

        </div>

        <div>
            <table class="table table-striped noborder" style="margin: 100px auto 30px;">
                <thead class="noborder">
                    <tr class="noborder">
                        <th class="noborder">Item Description</th>
                        <th class="noborder">Quantity Requisited</th>
                        <th class="noborder">Quantity Disbursed</th>
                        <th class="noborder">Remarks</th>
                        <th class="noborder">Quantity Received</th>
                        <th class="noborder">Dept Remarks</th>
                        <th class="noborder">Clerk Remarks</th>

                    </tr>
                </thead>
                <tbody class="noborder">

                    @foreach (var reqd in requisitionDetails)
                    {
                    <tr class="noborder">
                        <td class="noborder"></td>
                        <td class="noborder">@reqd.QtyNeeded</td>
                        <td class="noborder">@reqd.QtyDisbursed</td>
                        <td class="noborder">@reqd.DisburseRemark</td>
                        <td class="noborder">@reqd.QtyReceived</td>
                        <td class="noborder">@reqd.RepRemark</td>                       
                        <td class="noborder"></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
  
    <div class="form-inline">
        <div class="form-group mb-2">
            <label for="receivedBy" class="sr-only text-right">Received by(Rep)</label>
            <input type="text" readonly class="form-control-plaintext" id="receivedBy" value="Received by(Rep):">

        </div>

        <div class="form-group mb-2">
            <label for="receivedBy2" class="sr-only text-right">Received by(Rep) 2</label>
            <input type="text" readonly class="form-control-plaintext" id="receivedBy2" value=" ">

        </div>

        <div class="form-group mb-2">
            <label for="recdate" class="sr-only text-right">recDate</label>
            <input type="text" readonly class="form-control-plaintext" id="recdate" value="Date">

        </div>

        <div class="form-group mb-2">
            <label for="recdate2" class="sr-only text-right">recDate2</label>
            <input type="text" readonly class="form-control-plaintext" id="recdate2" value=" ">

        </div>
    </div>
    <div class="form-inline">
        <div class="form-group mb-2">
            <label for="acknowledgedBy" class="sr-only text-right">Acknowledged by(Clerk)</label>
            <input type="text" readonly class="form-control-plaintext" id="acknowledgedBy" value="Acknowledged by(Clerk):">

        </div>

        <div class="form-group mb-2">
            <label for="acknowledgedBy2" class="sr-only text-right">Acknowledged by(Clerk) 2</label>
            <input type="text" readonly class="form-control-plaintext" id="acknowledgedBy" value=" ">

        </div>

        <div class="form-group mb-2">
            <label for="ackdate" class="sr-only text-right">ackDate</label>
            <input type="text" readonly class="form-control-plaintext" id="ackdate" value="Date">

        </div>

        <div class="form-group mb-2">
            <label for="ackdate2" class="sr-only text-right">ackDate2</label>
            <input type="text" readonly class="form-control-plaintext" id="ackdate2" value=" ">
        </div>
    </div>



