
@{
    ViewData["Title"] = "viewRequisitionDetailEmp";
    Requisition requisition = (Requisition)ViewData["requisition"];
    List<Product> products = (List<Product>)ViewData["products"];
    List<RequisitionDetail> requisitionDetail = (List<RequisitionDetail>)ViewData["requisitionDetail"];

}

<h1 style="text-align:center">Requisition Form Detail</h1>

<input type="hidden" id="reqdetailId" value="@requisition.Id" />

@if (requisition.Status == "Created")
{

    <table class="noborder">
        <tr class="noborder">
            <td class="noborder">Form ID:</td>
            <td class="noborder" id="formId">@requisition.Id</td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Request Date:</td>
            <td class="noborder" id="tdydate"></td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Status:</td>
            <td class="noborder" id="">@requisition.Status</td>
        </tr>
    </table>

    <table class="table table-striped noborder" style="margin: 100px auto 30px;" id="myTable">
        <thead class="noborder">
            <tr class="noborder">
                <th class="noborder">Description</th>
                <th class="noborder">Quantity</th>
                <th class="noborder"></th>
            </tr>
        </thead>
        <tbody class="noborder">
            <tr class="noborder">
                @*<td class="noborder"></td>
                    <td class="noborder"></td>*@
                @*<td class="noborder"><input type="button" class="btn btn-danger" value="Delete" /></td>*@
            </tr>
        </tbody>
    </table>



    <div class="form-inline">
        <div class="form-group mb-2">
            <label for="item" class="sr-only text-right">Item</label>
            <input type="text" readonly class="form-control-plaintext" id="item" value="                 Item:">

        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="chooseItem" class="sr-only">choose item</label>
            <select class="form-control" id="ddlViewBy">
                <option>
                    -- Choose Item --
                </option>
                @foreach (var product in products)
                {

                    <option value="@(product.Id+"/"+product.Description)">
                        @product.Description
                    </option>
                }
            </select>
        </div>

        <div class="form-group mb-2">
            <label for="qty" class="sr-only text-right">Qty</label>
            <input type="text" readonly class="form-control-plaintext" value="                 Qty:">

        </div>

        <div class="form-group mb-2">
            <label for="qty2" class="sr-only">Qty2</label>
            <input type="number" id="qty" class="form-control input-sm quantity" />

        </div>

        <div class="form-group mb-2">
            <label for="qty" class="sr-only">Qty</label>
            <input type="text" readonly class="form-control-plaintext" id="qty" value="  ">

        </div>
        <button type="button" id="add" class="btn btn-outline-info mb-2">Add</button>
    </div>


    <br />
    <br />

    <table style="margin-left:auto; margin-right:auto;" class="noborder">

        <tr class="noborder">
            <td class="noborder">
                <input type="button" id="savedraft" class="btn btn-warning" value="Save Draft" />
            </td>
            <td class="noborder">
                <input type="submit" class="btn btn-info" value="Submit" />
            </td>
        </tr>

    </table>




}

@if (requisition.Status == "Pending Approval" || requisition.Status == "Approved" || requisition.Status == "Rejected" || requisition.Status == "Confirmed" || requisition.Status == "Completed")
{
    <table class="noborder">
        <tr class="noborder">
            <td class="noborder">Form ID:</td>
            <td class="noborder">@requisition.Id</td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Employee Name:</td>
            <td class="noborder">@requisition.ReqByEmp.Name</td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Requested Date:</td>
            <td class="noborder">@requisition.CreatedDate</td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Status:</td>
            <td class="noborder">@requisition.Status</td>
        </tr>

        @if (requisition.Status == "Rejected")
        {
            <tr class="noborder">
                <td class="noborder">Rejected Reason:</td>
                <td class="noborder">@requisition.Remarks</td>
            </tr>
        }
        @if (requisition.Status == "Confirmed" || requisition.Status == "Completed")
        {
            <tr class="noborder">
                <td class="noborder">Collection Point:</td>
                <td class="noborder">@requisition.CollectionPointId</td>
            </tr>

            <tr class="noborder">
                <td class="noborder">Disbursement Date:</td>
                <td class="noborder">@requisition.CollectionDate</td>
            </tr>
        }
    </table>

    <table class="table table-striped noborder" style="margin: 100px auto 30px;">
        <thead class="noborder">
            <tr class="noborder">
                <th class="noborder">Description</th>
                <th class="noborder">Quantity</th>
            </tr>
        </thead>
        <tbody class="noborder">
            @foreach (var reqDetail in requisitionDetail)
            {
                <tr class="noborder">
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                </tr>
            }

        </tbody>
    </table>
}


<script src="~/js/reqStationery.js"></script>
