@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Adjustment Voucher List";
    List<AdjustmentVoucher> adjustmentVoucher = (List<AdjustmentVoucher>)ViewData["adjustmentVoucher"];
    int clerkid = (int)ViewData["clerkid"];
    string name = (string)ViewData["Name"];
    string role = (string)ViewData["Role"];
}

@if (role == CommonConstant.ROLE_NAME[CommonConstant.ROLE.STORE_CLERK])
{
    <div class="container" style="margin-top: 20px;">
        <a class="btn btn-primary font-weight-bold" asp-controller="StoreClerk" asp-action="GenerateAdjustmentVoucher">Issue Adjustment Voucher</a>
        <input type="button" class="btn btn-primary font-weight-bold" id="select" data-cid="@clerkid" value="View My Adjustment Vouchers" />
    </div>
}
<br />

<h2 class="titlecenter">@ViewData["Title"]</h2>



@*<div class="input-group">
        <span class="input-group-addon">Search</span>
        <input type="text" id="search" class="form-control" placeholder="Type here" />
    </div>*@

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-1">
            <label class="form-control font-weight-bold" style="border: 0;">Search:</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="search" class="form-control" placeholder="Type here" />
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Voucher#</th>
                <th>Initiated By</th>
                <th>Date Issued</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="list">
            @foreach (AdjustmentVoucher adv in adjustmentVoucher)
            {
                <tr class="search">
                    <td class="listid">@adv.Id</td>
                    <td class="select" value="@adv.InitiatedClerkId">@adv.InitiatedClerk.Name</td>
                    <td>@TimeUtil.convertTimestampToyyyyMMdd(adv.InitiatedDate)</td>
                    <td>@adv.Status</td>
                    <td>
                        <a class="btn btn-info" asp-controller="StoreClerk" asp-action="AdjustmentVoucher" asp-route-id="@adv.Id">Details</a>
                        @if (adv.Status == CommonConstant.AdjVoucherStatus.CREATED && adv.InitiatedClerkId == clerkid)
                        {
                            <button class="delete btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/AdjustmentVoucher.js"></script>
