
@{
    ViewData["Title"] = "AdjustmentVoucherDetails";
    List<AdjustmentVoucherDetail> adjustmentVoucherDetailsToHTML = (List<AdjustmentVoucherDetail>)ViewData["adjustmentVoucherDetailsToHTML"];
    AdjustmentVoucher av = (AdjustmentVoucher)ViewData["av"];
}

<h1>Adjustment Voucher Details</h1>


<h6>Voucher# : @av.Id</h6>
<h6>Date Issued: "@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(av.InitiatedDate)"</h6>
<h6>Status: @av.Status.ToUpper()</h6>

@if (av.Status == "Rejected")
{
    <h6>Reject Reason:@av.Reason</h6>
}

@if (av.ApprovedMgrId != null)
{
    <h6>By:@av.ApprovedMgr.Name </h6>
}
else if (av.ApprovedSup != null)
{
    <h6>By:@av.ApprovedSup.Name </h6>
}
else
{
    <h6></h6>
}


@if (adjustmentVoucherDetailsToHTML.Count()>0)
{
    <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Quantity Adjusted</th>
                <th>Reason</th>
                <th>Price</th>
                <th>Total Price</th>

            </tr>
        </thead>
        <tbody>
            @foreach (AdjustmentVoucherDetail advdet in adjustmentVoucherDetailsToHTML)
            {

                <tr>
                    <td class="productId">@advdet.ProductId</td>
                    <td class="description">@advdet.Product.Description</td>
                    <td class="quantity">@advdet.QtyAdjusted</td>
                    <td class="reason">@advdet.Reason</td>
                    <td class="price">@advdet.Unitprice</td>
                    <td class="totalprice">@advdet.TotalPrice</td>
                </tr>
            }
        </tbody>

    </table>
    @if (av.Status == "Created")
    {
<div>
    <a class="btn btn-primary" asp-controller="StoreClerk" asp-action="AmendAdjustmentVoucher" asp-route-id="@av.Id"> Amend</a>
    <button class="btn btn-primary" type="button" id="submit">Submit</button>
    
</div>
        <script src="~/js/AdjustmentVoucher.js"></script>
    }

    
}
else
{
    <h6> there is no adjustment voucher details in record, please amend and add details</h6>
    <a class="btn btn-primary" asp-controller="StoreClerk" asp-action="AmendAdjustmentVoucher" asp-route-id="@av.Id"> Amend</a>
}


<div>
    <a class="btn btn-primary" asp-controller="StoreClerk" asp-action="AdjustmentVoucher"> View All Voucher List</a>
    <a class="btn btn-primary" asp-controller="StoreClerk" asp-action="AdjustmentVoucherByClerkId">View My Voucher History</a>
</div>




