@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Adjustment Voucher Details";
    List<Product> products = (List<Product>)ViewData["products"];
    AdjustmentVoucher av = (AdjustmentVoucher)ViewData["adjustmentVoucher"];
    int clerkid = (int)ViewData["clerkid"];
}

<h2 class="titlecenter">@ViewData["Title"]</h2>

<div class="container" style="margin-top: 20px;">
    <table>
        <tr>
            <td>Voucher#: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td><span id="voucherId" value="@av.Id">@av.Id</span></td>
        </tr>
        <tr>
            <td>Date Issued: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(av.InitiatedDate)</td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@av.Status</td>
        </tr>
        <input type="hidden" value="@clerkid" />
        @if (av.Status == CommonConstant.AdjVoucherStatus.REJECTED)
        {
            <tr>
                <td>Reject Reason: </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>@av.Reason</td>
            </tr>
        }
        @if (av.ApprovedMgrId != null)
        {
            <tr>
                <td>By: </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>@av.ApprovedMgr.Name</td>
            </tr>
        }
        else if (av.ApprovedSup != null)
        {
            <tr>
                <td>By: </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>@av.ApprovedSup.Name</td>
            </tr>
        }
        else
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>

@*<h6 id="voucherId" value="@av.Id">Voucher# : @av.Id</h6>
    <h6>Date Issued: @TimeUtil.convertTimestampToyyyyMMdd(av.InitiatedDate)</h6>
    <h6>Status: @av.Status</h6>
    <input type="hidden" value="@clerkid" />
    @if (av.Status == CommonConstant.AdjVoucherStatus.REJECTED)
    {
        <h6>Reject Reason:@av.Reason</h6>
    }
    @if (av.ApprovedMgrId != null)
    {
        <h6>By:@av.ApprovedMgr.Name </h6>
    }
    else if (av.ApprovedSup != null)
    {
        <h6>By:@av.ApprovedSup.Name </h6>
    }
    else
    {
        <h6></h6>
    }*@

@if (av.Status == CommonConstant.AdjVoucherStatus.CREATED && av.InitiatedClerkId == clerkid)
{
    <div class="container" style="margin-top: 20px;">
        <div class="row justify-content-center">
            <div class="col-0">
                <label class="form-control font-weight-bold" style="border: 0;">Item:</label>
            </div>
            <div class="col-3">
                <select id="product" class="form-control">
                    <option value="0">Choose Item</option>
                    @foreach (var p in products)
                    {
                        <option type="text" data-uom="@p.Uom" data-desc="@p.Description" value="@p.Id">[@p.Id] @p.Description</option>
                    }
                </select>
            </div>
            <div class="col-0">
                <label class="form-control font-weight-bold" style="border: 0;">Qty:</label>
            </div>
            <div class="col-1">
                <input type="number" id="qtyAdjusted" value="0" class="form-control" />
            </div>
            <div class="col-0">
                <label class="form-control font-weight-bold" style="border: 0;">Reason:</label>
            </div>
            <div class="col-3">
                <input type="text" id="reason" class="form-control" />
            </div>
            <div class="col-0">
                <button id="generate" class="btn btn-primary font-weight-bold">Generate</button>
            </div>
        </div>
    </div>

    @*<div>
            <label> Item</label>
            <select id="product">
                <option value="0">Choose Item</option>
                @foreach (var p in products)
                {
                    <option type="text" data-uom="@p.Uom" data-desc="@p.Description" value="@p.Id">[@p.Id] @p.Description</option>
                }
            </select>
            <label>QTY</label>
            <input type="number" id="qtyAdjusted" value="0" />
            <label>Reason</label>
            <input type="text" id="reason" />
            <button id="generate" class="btn btn-primary">Generate</button>
        </div>*@
}

<div class="container" style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Quantity Adjusted</th>
                <th>Unit Of Measurement</th>
                <th>Reason</th>
                <th>Price</th>
                <th>Total Price</th>
                @if (av.Status == CommonConstant.AdjVoucherStatus.CREATED && av.InitiatedClerkId == clerkid)
                {
                    <th></th>
                }
            </tr>
        </thead>

        <tbody id="avdetails">
            @foreach (AdjustmentVoucherDetail avd in av.AdjustmentVoucherDetails)
            {
                <tr>
                    <input type="hidden" id="detailId" value="@avd.Id" />
                    <td class="productId">@avd.ProductId</td>
                    <td class="description">@avd.Product.Description</td>
                    <td class="quantity">@avd.QtyAdjusted</td>
                    <td class="uom">@avd.Product.Uom</td>
                    <td class="reason">@avd.Reason</td>
                    <td class="price">@avd.Unitprice.ToString("C")</td>
                    <td class="totalprice">@avd.TotalPrice.ToString("C")</td>
                    @if (av.Status == CommonConstant.AdjVoucherStatus.CREATED && av.InitiatedClerkId == clerkid)
                    {
                        <td><input type="button" value="Remove" class="btn btn-danger" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (av.AdjustmentVoucherDetails.Count() == 0)
{
    <div class="disappear container" style="margin-top: 20px;">
        <p>There is no product saved in this adjustment voucher.</p>
    </div>
}

@if (av.Status == CommonConstant.AdjVoucherStatus.CREATED && av.InitiatedClerkId == clerkid)
{
    <div class="container" style="margin-top: 20px;">
        <div class="row justify-content-center">
            <div class="col-1">
                <button class="btn btn-warning font-weight-bold" type="button" id="save">Save</button>
            </div>
            <div class="col-1">
                <button class="btn btn-success font-weight-bold" type="button" id="submit">Submit</button>
            </div>
        </div>
    </div>

    @*<div>
        <button class="btn btn-primary" type="button" id="save"> Save</button>
        <button class="btn btn-primary" type="button" id="submit">Submit</button>
    </div>*@
}

@*<div>
        <a class="btn btn-primary" asp-controller="StoreClerk" asp-action="AdjustmentVoucher">Back to Adjustment Voucher List</a>
    </div>*@

<script src="~/js/AdjustmentVoucherDetail.js"></script>

