
@{
    ViewData["Title"] = "AmendAdjustmentVoucher";
    List<Product> products = (List<Product>)ViewData["products"];
    AdjustmentVoucher AV = (AdjustmentVoucher)ViewData["av"];
    List<AdjustmentVoucherDetail> avdetails = (List<AdjustmentVoucherDetail>)ViewData["avdetails"];
}

<h1>AmendAdjustmentVoucher</h1>


<h6 id="voucherId" value="@AV.Id">Voucher# : @AV.Id</h6>
<h6>Date Issued: @SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(AV.InitiatedDate)</h6>


<div>
    <label> Item</label>
    <select id="product">
        <option value="0">Choose Item</option>
        @foreach (var p in products)
        {
            <option type="text" value="@(@p.Id+"/"+@p.Description)">@p.Description</option>

        }
    </select>
    <label>QTY</label>
    <input type="number" id="qtyAdjusted" value="0" />
    <label>reason</label>
    <input required type="text" id="reason" />

    <button id="generate" class="btn btn-primary">Generate</button>

</div>


<div>
    <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Quantity Adjusted</th>
                <th>Reason</th>
                <th>Price</th>
                <th>Total Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="avdetails">
            @foreach (AdjustmentVoucherDetail avdetail in avdetails)
            {
                <tr>
                    <td class="productId">@avdetail.ProductId </td>
                    <td class="description">@avdetail.Product.Description</td>
                    <td class="quantity"> @avdetail.QtyAdjusted </td>
                    <td class="reason"> @avdetail.Reason  </td>
                    <td class="price"> @avdetail.Unitprice </td>
                    <td class="totalprice"> @avdetail.TotalPrice </td>
                    <td><input type="button" value="Remove" /> </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-primary" type="button" id="save">Save</button>
    <button class="btn btn-primary" type="button" id="submit">Submit</button>
</div>
<div>
    <a class="btn btn-primary" asp-controller="StoreClerk" asp-action="AdjustmentVoucher"> Back to Adjustment List</a>
</div>

<script src="~/js/AdjustmentVoucher.js"></script>


