@{
    ViewData["Title"] = "Stationery Catalogue";
    List<Product> products = (List<Product>)ViewData["products"];
}
<h1>@ViewData["Title"]</h1>

<input type="text" id="Search" placeholder="Search" class="form-control" />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Category</th>
            <th>Description</th>
            <th>Reorder Level</th>
            <th>Reorder Quantity</th>
            <th>Unit of Measure</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in products)
        {
        <tr class="Search">
            <td>@p.Id</td>
            <td>@p.Category.Name</td>
            <td>@p.Description</td>
            <td>@p.ReorderLvl</td>
            <td>@p.ReorderQty</td>
            <td>@p.Uom</td>
            <td><a class="btn btn-primary" asp-controller="StoreClerk" asp-action="StockCard" asp-route-id="@p.Id">Stock Card</a></td>
        </tr>
        }
    </tbody>
</table>
<script src="~/js/Search.js"></script>

