@{
    ViewData["Title"] = "Delivery Order";
    List<PurchaseOrderDetail> dods = (List<PurchaseOrderDetail>)ViewData["deliveryOrderDetails"];
}
<h1>@ViewData["Title"]</h1>

<div>
    <span>PO Number:</span>
    <span>@dods[0].PurchaseOrderId</span>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Qty Ordered</th>
                <th>Qty Received</th>
                <th>Date</th>
                <th>Vendor DO#</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>

            @foreach (PurchaseOrderDetail dod in dods)
            {

                <tr>
                    <input class="detailId" type="hidden" value="@dod.Id" />
                    <td>@dod.ProductId</td>
                    <td>@dod.Product.Description</td>
                    <td>@dod.QtyPurchased</td>
                    @if (dod.Status == "Approved")
                    {
                        <td><input class="qtyReceived" type="number" value="@dod.QtyPurchased" /></td>
                        <td><input class="date" type="date" /></td>
                        <td><input class="vendordo" type="text" /></td>
                        <td><input class="remarks" type="text" /></td>
                    }
                    else
                    {
                        <td>@dod.QtyReceived</td>
                        <td>@dod.ReceivedDate</td>
                        <td>@dod.SupplierDeliveryNo</td>
                        <td>@dod.Remark</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <button id="save" class="btn btn-success" disabled>Save</button>
</div>

<script src="~/js/DeliveryOrder"></script>

