@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Delivery Order";
    List<PurchaseOrderDetail> dods = (List<PurchaseOrderDetail>)ViewData["deliveryOrderDetails"];
}
<h2 class="titlecenter">@ViewData["Title"]</h2>

<div class="container" style="margin-top: 20px;">
    <table>
        <tr>
            <td>PO Number: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td id="poid">@dods[0].PurchaseOrderId</td>
        </tr>
        <tr>
            <td>Supplier: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td >@dods[0].PurchaseOrder.Supplier.Name</td>
        </tr>
    </table>
</div>

@*<div>
        <span>PO Number:</span>
        <span id="poid">@dods[0].PurchaseOrderId</span>
    </div>*@

<div class="container" style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Qty Ordered</th>
                <th>Qty Received</th>
                <th>Date</th>
                <th>Vendor DO#</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>

            @foreach (PurchaseOrderDetail dod in dods)
            {

                <tr>
                    <input class="detailId" type="hidden" value="@dod.Id" />
                    <td>@dod.ProductId</td>
                    <td>@dod.Product.Description</td>
                    <td>@dod.QtyPurchased</td>
                    @if (dod.Status == CommonConstant.PurchaseOrderDetailStatus.pending)
                    {
                        <td><input class="replace form-control" type="number" value="@dod.QtyPurchased" /></td>
                        <td><input class="replace form-control" type="date" /></td>
                        <td><input class="replace form-control" type="text" /></td>
                        <td><input class="replace form-control" type="text" /></td>
                    }
                    else
                    {
                        <td>@dod.QtyReceived</td>
                        <td>@TimeUtil.convertTimestampToyyyyMMdd(dod.ReceivedDate)</td>
                        <td>@dod.SupplierDeliveryNo</td>
                        <td>@dod.Remark</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (dods[0].PurchaseOrder.Status == CommonConstant.PurchaseOrderStatus.pending)
{
    <div class="container justify-content-center" style="margin-top: 20px;">
        <div class="row justify-content-center">
            <div class="col-0">
                <button id="save" class="btn btn-primary font-weight-bold">Save</button>
            </div>
        </div>
    </div>
}

<script src="~/js/DeliveryOrder.js"></script>

