@{
    ViewData["Title"] = "Delivery Order";
    List<PurchaseOrderDetail> dods = (List<PurchaseOrderDetail>)ViewData["deliveryOrderDetails"];
}
<h1>@ViewData["Title"]</h1>

<div>
    <span>PO Number:</span>
    <span>@dods[0].PurchaseOrderId</span>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Qty Ordered</th>
                <th>Qty Received</th>
                <th>Date</th>
                <th>Vender DO#</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>

            @foreach (PurchaseOrderDetail dod in dods)
            {

                <tr id="@dod.Id">
                    <td>@dod.ProductId</td>
                    <td>@dod.Product.Description</td>
                    <td>@dod.QtyPurchased</td>
                    @if (dod.Status == "Approved")
                    {
                        <td><input id="qtyReceived" type="number" value="@dod.QtyPurchased" /></td>
                        <td><input type="date" /></td>
                        <td><input type="text" /></td>
                        <td><input type="text" /></td>
                    }
                    else
                    {
                        <td class="qtyReceived">@dod.QtyReceived</td>
                        <td>@dod.ReceivedDate</td>
                        <td>@dod.SupplierDeliveryNo</td>
                        <td>@dod.Remark</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <button id="save" class="btn btn-success">Save</button>
</div>

<script src="~/js/DeliveryOrder"></script>

