@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Disbursement List";
    List<RequisitionDetail> disbursementList = (List<RequisitionDetail>)ViewData["disbursementList"];
    string name = (string)ViewData["Name"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <span>Disbursement Date: </span>
    <span>@TimeUtil.convertTimestampToyyyyMMdd(disbursementList[0].Requisition.CollectionDate)</span>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Item Description</th>
            <th>Qty Requisited</th>
            <th>Qty Disbursed</th>
            <th>Remarks</th>
            <th>Qty Received</th>
            <th>Dept Remarks</th>
            <th>Clerk Remarks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in disbursementList)
        {
            <tr>
                <input class="detailid" data-rid="@d.RequisitionId" type="hidden" value="@d.Id" />
                <td>@d.Product.Description</td>
                <td>@d.QtyNeeded</td>
                <td>@d.QtyDisbursed</td>
                <td>@d.DisburseRemark</td>
                <td>@d.QtyReceived</td>
                <td>@d.RepRemark</td>
                @if (disbursementList[0].Requisition.Status == CommonConstant.RequsitionStatus.received)
                {
                    <td><input class="replace" type="text" /></td>
                }
                else
                {
                    <td>@d.ClerkRemark</td>
                }
            </tr>
        }

    </tbody>
</table>

@if (disbursementList[0].Requisition.Status == CommonConstant.RequsitionStatus.received)
{
    <div>
        <button id="acknowledge" type="button" class="btn btn-primary">Acknowledge Disbursement Received by Dept Rep</button>
    </div>
}

<table>
    <tr>
        <td>Received by</td>
        @if (disbursementList[0].Requisition.Status == CommonConstant.RequsitionStatus.received || disbursementList[0].Requisition.Status == CommonConstant.RequsitionStatus.completed)
        {
            <td>@disbursementList[0].Requisition.ReceivedByRep.Name</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(disbursementList[0].Requisition.ReceivedDate)</td>
        }
        else
        {
            <td></td>
            <td></td>
        }
    </tr>
    <tr>
        <td>Acknowledged by (Clerk)</td>

        @if (disbursementList[0].Requisition.Status != CommonConstant.RequsitionStatus.completed)
        {
            <td id="clerk"></td>
            <input id="clerkname" value="@name" type="hidden" />
            <td id="date"></td>
        }
        else
        {
            <td>@disbursementList[0].Requisition.AckByClerk.Name</td>
            <td>@TimeUtil.convertTimestampToyyyyMMdd(disbursementList[0].Requisition.AckDate)</td>
        }
    </tr>
</table>

<script src="~/js/Disbursement.js"></script>
