@{
    ViewData["Title"] = "Retrieve Disbursement List";
    List<Department> departments = (List<Department>)ViewData["departments"];
    string errMsg = (string)ViewData["errMsg"];
}

<h2 class="titlecenter">@ViewData["Title"]</h2>

<span style="color:red;">@errMsg</span>
<form action="/StoreClerk/DisbursementDetail" method="post" onsubmit="return dateTransform()">
    <div class="container" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-3">
                <label class="form-control font-weight-bold" style="border: 0;">Date of Disbursement:</label>

            </div>
            <div class="col-3">
                <input type="date" class="form-control" />
                <input type="hidden" id="date" name="date" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <label class="form-control font-weight-bold" style="border: 0;">Department:</label>

            </div>
            <div class="col-3">
                <select id="departmentid" name="deptid" class="form-control">
                    @foreach (var d in departments)
                    {
                        <option value="@d.Id">@d.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <button type="submit" class="btn btn-primary form-control font-weight-bold" style="margin-top:30px">Submit</button>
            </div>
        </div>

    </div>
</form>


@*<div>
        <div>
            <span>Date of Disbursement: </span>
            <input id="date" type="date" />
        </div>
        <div>
            <span>Department: </span>
            <select id="departmentid">
                @foreach (var d in departments)
                {
                    <option value="@d.Id">@d.Name</option>
                }
            </select>
        </div>
        <div></div>
        <button id="submit" class="btn btn-success">Submit</button>
    </div>*@

<script src="~/js/GenerateRetrieval.js"></script>