@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Generate Retrieval Form";
    List<Retrieval> retrievals = (List<Retrieval>)ViewData["retrievals"];
    string errMsg = (string)ViewData["errMsg"];
}

<h2 class="titlecenter">@ViewData["Title"]</h2>

<span style="color:red;">@errMsg</span>
<form action="/StoreClerk/RetrievalForm" method="post" onsubmit="return dateTransform()">
    <div class="container" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-4">
                <label class="form-control font-weight-bold" style="border: 0;">Enter planned date of disbursement:</label>

            </div>
            <div class="col-3">
                <input type="date" min="1990-05-30" class="form-control" />
                <input type="hidden" id="date" name="date" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <button type="submit" class="btn btn-primary form-control font-weight-bold" style="margin-top:30px">Submit</button>
            </div>
        </div>
    </div>
</form>
@*<form action="/StoreClerk/RetrieveForm" method="post" onsubmit="return dateTransform()">
        <span>Enter planned date of disbursement: </span>
        <input type="date" />
        <input type="hidden" id="date" name="date" />
        <button type="submit">Generate</button>
    </form>*@

<div id="forms" class="container" style="margin-top: 20px;">
    <h2 class="titlecenter">Retrieval Forms</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Retrieval ID</th>
                <th>Disbursement Date</th>
                <th>Retrieved By</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in retrievals)
            {
                <tr class="search">
                    <td>@r.Id</td>
                    <td>@TimeUtil.convertTimestampToyyyyMMdd(r.DisbursedDate)</td>
                    <td>@r.Clerk.Name</td>
                    <td>@r.Status</td>
                    <td>
                        <form action="/StoreClerk/RetrievalDetail" method="post">
                            <input type="hidden" name="id" value="@r.Id" />
                            <button class="btn btn-primary">Details</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/GenerateRetrieval.js"></script>
