@{
    ViewData["Title"] = "Purchase Request Detail";
    Dictionary<PurchaseRequestDetail, List<TenderQuotation>> TQbyPRD = (Dictionary<PurchaseRequestDetail, List<TenderQuotation>>)ViewData["TQbyPRD"];
    string role = (string)ViewData["Role"];
    @*string name = (string)ViewData["Name"];*@
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <td>Purchase Request No</td>
        <td id="requestId">@TQbyPRD.Keys.First().PurchaseRequestId</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@TQbyPRD.Keys.First().Status</td>
    </tr>
</table>

<table id="form">
    <thead>
        <tr>
            <th>Item Code</th>
            <th>Description</th>
            <th>Current Stock</th>
            <th>Quantity to Order</th>
            <th>Vendor</th>
            <th>Vendor Quote #</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<PurchaseRequestDetail, List<TenderQuotation>> kvp in TQbyPRD)
        {
            <tr>
                <input class="detailId" type="hidden" value="@kvp.Key.Id" />
                <td>@kvp.Key.ProductId</td>
                <td>@kvp.Key.Product.Description</td>
                <td>@kvp.Key.CurrentStock</td>

                @if (role == "Clerk" && kvp.Key.Status == "Created")
                {
                    <td>
                        <input class="reorderqty number" type="number" min="0" value="@kvp.Key.ReorderQty" />
                    </td>
                    <td>
                        <select class="supplierid number">
                            @foreach (var v in kvp.Value)
                            {
                                <option data-sid="@v.SupplierId" value="@v.Unitprice">@v.Supplier.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input  class="venderquote" type="text" />
                    </td>
                }
                else
                {
                    <td>
                        @kvp.Key.ReorderQty
                    </td>
                    <td>
                        @kvp.Key.Supplier.Name
                    </td>
                    <td>
                        @kvp.Key.VenderQuote
                    </td>
                }
                <td>@((kvp.Key.ReorderQty * kvp.Value[0].Unitprice).ToString("C"))</td>
            </tr>
        }
    </tbody>
</table>

@if (role == "Clerk")
{
    if (TQbyPRD.Keys.First().Status == "Created")
    {
        <div id="clerkButton">
            <button id="quote" class="btn btn-primary">Generate Quote</button>
            <button id="update" class="btn btn-primary">Update</button>
            <button id="submit" class="btn btn-success" disabled>Submit for Approval</button>
        </div>
    }
}
else
{
    <div id="supervisorButton">
        <textarea rows="3" placeholder="Reason"></textarea>
        <button id="reject">Reject</button>
        <button id="approve">Approve</button>
    </div>
}

<script src="~/js/PurchaseRequest.js"></script>

