@{
    ViewData["Title"] = "Purchase Order Form";
    List<PurchaseOrderDetail> pods = (List<PurchaseOrderDetail>)ViewData["purchaseOrderDetails"];
}
<h2 class="titlecenter">@ViewData["Title"]</h2>

<div class="container" style="margin-top: 20px;">
    <table id="form">
        <tr>
            <td>PO Number: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@pods[0].PurchaseOrderId</td>
        </tr>
        <tr>
            <td>Supplier: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@pods[0].PurchaseOrder.Supplier.Name</td>
        </tr>
        <tr>
            <td>Deliver to: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@pods[0].PurchaseOrder.CollectionPoint.Location</td>
        </tr>
        <tr>
            <td>Attn: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@pods[0].PurchaseOrder.Supplier.ContactPersonName</td>
    </table>
</div>

@*<div>
    <table>
        <tr>
            <td>PO Number</td>
            <td>@pods[0].PurchaseOrderId</td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td>@pods[0].PurchaseOrder.Supplier.Name</td>
        </tr>
        <tr>
            <td>Deliver to</td>
            <td>@pods[0].PurchaseOrder.CollectionPoint.Location</td>
        </tr>
        <tr>
            <td>Attn</td>
            <td>@pods[0].PurchaseOrder.Supplier.ContactPersonName</td>
        </tr>
    </table>
</div>*@

<div class="container" style="margin-top: 20px;">
    <h5>
        Please supply the following items by @SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(pods[0].PurchaseOrder.SupplyByDate).
    </h5> 
</div>

<div class="container" style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (PurchaseOrderDetail pod in pods)
            {
                <tr>
                    <td>@pod.ProductId</td>
                    <td>@pod.Product.Description</td>
                    <td>@pod.QtyPurchased</td>
                    <td>@((pod.TotalPrice / pod.QtyPurchased).ToString("C"))</td>
                    <td>@pod.TotalPrice.ToString("C")</td>
                </tr>
            }
        <tr class="table-dark">
            <td colspan="4">
            </td>
            <td>
                <big><b>
                     <span style="color: black;">Total: @pods.Sum(x => x.TotalPrice).ToString("C")</span>
                </b></big>
            </td>

        </tr>
        </tbody>
    </table>
</div>

@*<div class="container">
    <b>Total @pods.Sum(x => x.TotalPrice).ToString("C")</b>
</div>*@



<div class="container" style="margin-top: 20px;">
    <table>
        <tr>
            <td>Ordered by: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@pods[0].PurchaseOrder.OrderedByClerk.Name</td>
        </tr>
        <tr>
            <td>Ordered Date: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(pods[0].PurchaseOrder.OrderedDate)</td>
        </tr>
    </table>
</div>
