@{
    ViewData["Title"] = "Requisition Forms";
    List<Requisition> requisitions = (List<Requisition>)ViewData["requisitions"];
    List<Department> departments = (List<Department>)ViewData["departments"];
}

<div class="input-group">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="Type here" />
    <span class="input-group-addon">Filter by</span>
    <select id="select" class="form-control">
        <option value="">Select Department</option>
        @foreach (var d in departments)
        {
            <option>@d.Name</option>
        }
    </select>
</div>

<h1>@ViewData["Title"]</h1>

<table id="form" class="table table-striped">
    <thead>
        <tr>
            <th>Form ID</th>
            <th>Requested Date</th>
            <th>Department</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in requisitions)
        {
            <tr class="search">
                <td>@r.Id</td>
                <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(r.CreatedDate)</td>
                <td class="select">@r.Department.Name</td>
                <td>@r.Status</td>
                <td><a class="btn btn-primary" asp-controller="StoreClerk" asp-action="Requisition" asp-route-id="@r.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Search.js"></script>