@{
    ViewData["Title"] = "Requisition Form";
    Requisition requisition = (Requisition)ViewData["requisition"];
}
<h2 class="titlecenter">@ViewData["Title"]</h2>

<div class="container" style="margin-top: 20px;">
    <table id="form">
        <tr>
            <td>Form ID: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td><span id="requisitionId">@requisition.Id</span></td>
        </tr>
        <tr>
            <td>Department Name: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@requisition.Department.Name</td>
        </tr>
        <tr>
            <td>Employee Name: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@requisition.ReqByEmp.Name</td>
        </tr>
        <tr>
            <td>Requested Date: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(requisition.CreatedDate)</td>
        </tr>
        <tr>
            <td>Collection Point: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@requisition.CollectionPoint.Location</td>
        </tr>
        <tr>
            <td>Approved By: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>@requisition.ApprovedBy.Name</td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td id="status">@requisition.Status</td>
        </tr>
        @if (@requisition.Status == "Confirmed" || @requisition.Status == "Completed")
        {
            <tr>
                <td>Disbursement Date: </td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(requisition.CollectionDate)</td>
            </tr>
        }
    </table>
</div>

<div class="container" style="margin-top: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Quantity Needed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in requisition.RequisitionDetails)
            {
                <tr>
                    <td>@r.Product.Description</td>
                    <td>@r.QtyNeeded</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@if (requisition.Status == "Approved")
{
    <div id="confirmDate" class="container">
            <div class="row justify-content-start">
                <div class="col-2">
                    <label class="form-control font-weight-bold" style="border: 0;">DisbursementDate:</label>
                </div>
                <div class="col-3">
                    <input id="date" type="date" min="1990-05-30" class="form-control" />
                </div>
                <div class="col-1">
                    <button id="confirm" class="btn btn-success font-weight-bold">Confirm</button>
                </div>
            </div> 
    </div>
    
}

<script src="~/js/Requisition.js"></script>
