
@{
    ViewData["Title"] = "VoucherDetail";
    AdjustmentVoucher voucher = (AdjustmentVoucher)ViewData["Voucher"];
    Employee emp = (Employee)ViewData["Employee"];
}

<h1>Voucher Detail</h1>

<h4 id="role">@SSIS_FRONT.Common.CommonConstant.ROLE_NAME[emp.Role]</h4>
<h5>Welcome, @emp.Name</h5>
<h5>Voucher#  <span id="id">@voucher.Id</span></h5>
<h5>Date Issue  @SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(voucher.InitiatedDate)</h5>
<h5>Status  @voucher.Status</h5>

<table>
    <tr>
        <th>Item Code</th>
        <th>Description</th>
        <th>Quantity Adjusted</th>
        <th>Reason</th>
        <th>Price</th>
        <th>Total Price</th>
    </tr>
    @foreach (AdjustmentVoucherDetail detail in voucher.details)
    {
        <tr>
            <td>@detail.Product.Id</td>
            <td>@detail.Product.Description</td>
            <td>
                @if (detail.QtyAdjusted > 0)
                {
                    @:+@detail.QtyAdjusted.ToString()
                }
                else
                {
                    @detail.QtyAdjusted
                }
            </td>
            <td>@detail.Reason</td>
            <td>$@Math.Abs(detail.TotalPrice / detail.QtyAdjusted)</td>
            <td style=@(detail.TotalPrice>250?"color:red":"") class="totalPrice">$@detail.TotalPrice</td>
        </tr>
    }
</table>

<div id="operation">
    <textarea rows="3" placeholder="Reason" id="reason"></textarea>
    <button id="reject" type="button">Reject</button>
</div>
<button id="approve" type="button">Approve</button>

<script src="~/js/VoucherDetail.js"></script>