@using SSIS_FRONT.Common;
@using SSIS_FRONT.Utils;

@{
    ViewData["Title"] = "Voucher Detail";
    AdjustmentVoucher voucher = (AdjustmentVoucher)ViewData["Voucher"];
    Employee emp = (Employee)ViewData["Employee"];
}

<h1>@ViewData["Title"]</h1>

<input id="role" type="hidden" value="@CommonConstant.ROLE_NAME[emp.Role]" />
<table id="form">
    <tr>
        <td>Voucher#: </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td id="id">@voucher.Id</td>
    </tr>
    <tr>
        <td>Date Issued: </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>@TimeUtil.convertTimestampToyyyyMMdd(voucher.InitiatedDate)</td>
    </tr>
    <tr>
        <td>Status: </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td id="status">@voucher.Status</td>
    </tr>
    @if (!(voucher.Reason == null || voucher.Reason == ""))
    {
        <tr>
            <td>Reason: </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td id="status">@voucher.Reason</td>
        </tr>
    }
</table>
<br />

<table>
    <tr>
        <th>Item Code</th>
        <th>Description</th>
        <th>Quantity Adjusted</th>
        <th>Reason</th>
        <th>Price</th>
        <th>Total Price</th>
    </tr>
    @foreach (AdjustmentVoucherDetail detail in voucher.AdjustmentVoucherDetails)
    {
        <tr>
            <td>@detail.Product.Id</td>
            <td>@detail.Product.Description</td>
            <td>
                @if (detail.QtyAdjusted > 0)
                {
                    @:+@detail.QtyAdjusted.ToString()
                }
                else
                {
                    @detail.QtyAdjusted
                }
            </td>
            <td>@detail.Reason</td>
            <td>$@Math.Abs(detail.TotalPrice / detail.QtyAdjusted)</td>
            <td style=@(detail.TotalPrice>250?"color:red":"") class="totalPrice">$@detail.TotalPrice</td>
        </tr>
    }
</table>

@if (voucher.Status == CommonConstant.AdjVoucherStatus.PENDING_APPROVE)
{
    <div id="operation">
        <textarea rows="3" placeholder="Reason" id="reason"></textarea>
        <button id="reject" type="button" class="btn btn-danger">Reject</button>
        <button id="approve" type="button" class="btn btn-success">Approve</button>
    </div>
}

<script src="~/js/VoucherDetail.js"></script>